<div class="container">
  <div class="h-100 row align-items-center">
    <div class="card border-0 w-100 h-100" *ngIf="user">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img
            [src]="user.photoURL"
            alt="Admin"
            class="rounded-circle"
            width="150"
          />
          <div class="mt-3">
            <h4>{{ user.displayName }}</h4>
            <p class="text-secondary mb-1">{{ user.email }}</p>
            <p class="text-muted small">
              Created at: {{ user.createdAt | date }}
            </p>
          </div>
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
