<div class="container mt-4">
  <div class="row">
    <div class="card mx-2" style="width: 18rem" *ngFor="let i of [1, 2, 3]">
      <img
        src="assets/images/food1.jpeg"
        class="card-img-top"
        alt="Food alternative"
      />
      <div class="card-body" [class.bg-pink]="loved">
        <h5 class="card-title">
          <i *ngIf="!loved" class="far fa-heart" (click)="toggleLove()"></i>
          <i
            *ngIf="loved"
            class="fas fa-heart text-danger"
            (click)="toggleLove()"
          ></i>
          <br />
          Salad healthy for chymer
        </h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Read more</a>
      </div>
    </div>
  </div>
</div>
